.middle {
    display: flex;
    height: 1100px;
    flex-direction: column;
    background: rgb(33, 150, 243);
    background: linear-gradient(165deg, rgba(33, 150, 243, 1) 33%, rgba(106, 207, 252, 1) 50%, rgba(106, 207, 252, 1) 55%);
}

.middle > div > div {
    border: 2px solid whitesmoke;
    border-radius: 5px;
    background-color: whitesmoke;
}

#grievance-item {
    height: 70px;
    border: 2px solid #ddd;
    background-color: #ddd;
    border-radius: 5px;
    margin: 10px;
    padding: 5px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

#grievance-item:hover {
    box-shadow: 9px 9px #999;
    background-color: #e9e9e9;
}

#apply-grievance {
    height: 90px;
    box-sizing: border-box;
    margin: 10px;
    text-align: center;
    box-shadow: 0 5px #999;
}

#apply-grievance:hover {
    box-shadow: 9px 9px #999;
    background-color: #e9e9e9;
}

#first-container {
    margin-left: 10px;
    display: block;
}

#second-container {
    margin-left: 10px;
    display: block;
}

#grievance-log {
    box-sizing: border-box;
    height: 440px;
    margin: 10px;
    display: flex;
    flex-direction: column;
    text-align: center;
    flex-wrap: wrap;
}

h1 a {
    text-decoration: none;
}

#grievance-requests {
    box-sizing: border-box;
    height: 440px;
    margin: 10px;
    display: flex;
    flex-direction: column;
    text-align: center;
    flex-wrap: wrap;
}

#grievance-request {
    height: 70px;
    border: 2px solid #ddd;
    background-color: #ddd;
    border-radius: 5px;
    margin: 10px;
    padding: 5px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

#grievance-request:hover {
    box-shadow: 9px 9px #999;
    background-color: #e9e9e9;
}

@media screen and (min-width: 700px) {
    #first-container {
        display: flex;
        flex-direction: column;
        margin: 0 20px;
    }

    #second-container {
        margin-right: 20px;
    }

    .middle {
        display: flex;
        flex-direction: row;
    }
}
