.middle {
    /* height: 140vh; */
    display: flex;
    flex-direction: column;
    background: rgb(33, 150, 243);
    background: linear-gradient(165deg, rgba(33, 150, 243, 1) 33%, rgba(106, 207, 252, 1) 50%, rgba(106, 207, 252, 1) 55%);
}

.middle > div > div {
    border: 2px solid whitesmoke;
    border-radius: 5px;
    background-color: whitesmoke;
}

#leave-item {
    height: 100px;
    border: 2px solid gray;
    background-color: gray;
    border-radius: 5px;
    margin: 10px;
    padding: 5px;
}

#apply-leave {
    height: 90px;
    box-sizing: border-box;
    margin: 10px;
    text-align: center;
}

#first-container {
    display: block;
}

#leave-log {
    box-sizing: border-box;
    margin: 10px;
    display: flex;
    flex-direction: column;
    text-align: center;
    flex-wrap: wrap;
}

@media screen and (min-width: 700px) {
    #first-container {
        display: flex;
        flex-direction: row;
    }

    .middle {
        display: flex;
        flex-direction: row;
    }
}
