/* Add a black background color to the top navigation bar */
.navbar {
    overflow: hidden;
    background-color: #e9e9e9;
}

/* Style the links inside the navigation bar */
.navbar > a {
    float: left;
    display: block;
    color: black;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
}

/* Change the color of links on hover */
.navbar > a:hover {
    background-color: #ddd;
    color: black;
}

/* Style the "active" element to highlight the current page */
.navbar  a.active {
    background-color: #2196f3;
    color: white;
}

/* Style the search box inside the navigation bar */
.navbar input[type=text] {
    float: right;
    padding: 6px;
    border: none;
    margin-top: 8px;
    margin-right: 16px;
    font-size: 17px;
    background-size: 10px;
    background-color: white;
    background-image: url('../icon/search-solid.svg');
    background-position: 10px 10px;
    background-repeat: no-repeat;
    padding-left: 40px;
}

a:hover > .dropdown-content {
    display: block;
}

/* Drop down content (hidden by default) */
.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}

/* Links inside the drop down */
.dropdown-content a {
    float: none;
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: left;
}

/* When the screen is less than 600px wide, stack the links and the search field vertically instead of horizontally */
@media screen and (max-width: 600px) {
    .navbar > a,
    .navbar input[type=text] {
        float: none;
        display: block;
        text-align: left;
        width: 100%;
        margin: 0;
        padding: 14px;
    }

    .navbar input[type=text] {
        border: 1px solid #ccc;
    }
}

@media screen and (max-width: 700px) {
    .navbar > a,
    .navbar input[type=text] {
        float: none;
        display: block;
        text-align: left;
        width: 100%;
        margin: 0;
        padding: 14px;
    }

    .navbar input[type=text] {
        border: 1px solid #ccc;
        width: 100%;
        background-size: 10px;
        background-position: 15px 18px;
        padding-left: 40px;
    }
}
