@charset "UTF-8";

* {
	/* border: 1px solid red; */
	
}

.wrapper {
	margin-top: 120px;
}

.bmr-description {
	padding: 10px;
}

h3, p {
	font-family: Georgia, 'Times New Roman', Times, serif;
	font-size: 18px;
	padding: 10px;
}

h3 {
	color: rgb(4, 37, 30);
	font-size: 25px;
}

.bmr-calculate-wrapper {
	justify-content: center;
}

.bmr-input-form-wrapper {
	margin: 20px;
	padding: 20px;
	border: 2px solid black;
	border-radius: 10px;
	font-size: 20px;
}

.bmr-input-form-wrapper input {
	height: 30px;
	margin: 10px;
	width: 100px;
	border: 2px solid rgb(11, 109, 19);
}

.bmr-input-form-wrapper input[type="button"] {
	float: right;
	width: 100px;
	background-color: rgb(15, 151, 26);
	color: white;
	font-size: 20px;
}

.bmr-analysis-image {
	margin: 20px;
	padding: 5px;
	border: 2px solid black;
	border-radius: 10px;
}

.bmr-analysis-image img {
	height: 100%;
	width: 100%;
}

.measurement-system-toggle {
	display: flex;
	justify-content: space-evenly;
}

.measurement-system-toggle_option {
	width: 120px;
	text-align: center;
	border: 2px solid rgb(11, 109, 19);
	border-radius: 10px;
}

input[id^="height-imperial"] {
	width: 100px;
}

.input-box-toggle {
	position: relative;
	background-color: rgb(168, 243, 178);
	z-index: 1;
}

.input-box-toggle_options {
	display: none;
	background-size: contain;
}

.measurement-system-toggle>span:hover, .bmr-input-form-wrapper input[type="button"]:hover
	{
	background-color: rgb(11, 109, 19);
	color: white;
	cursor: pointer;
}

input[type="radio"] {
	height: 15px;
	margin: 2px;
	width: 50px;
}

.shown {
	display: block;
}

.chosen {
	background-color: rgb(11, 109, 19);
	color: white;
	border-bottom-left-radius: 0%;
	border-bottom-right-radius: 0%;
}

.input-box-wrapper>div {
	padding: 15px;
}

.bmr-result {
	border: none;
	background-color: rgb(137, 241, 168);
	border-radius: 10px;
	padding: 0;
	text-align: center;
	transform: translateY(-120%);
	margin: 10px;
}

.bmr-value, .tdee-value, .bmr-error-msg {
	display: none;
}

.value-show {
	display: block;
}

.result-show {
	border: 2px solid rgb(11, 85, 69);
	transform: translateY(8%);
	transition: transform 2s;
}

.bmr-comment {
	/* opacity: 0; */
	display: none;
	transition: opacity 1s;
	margin: 20px;
	border-left: 5px solid rgb(26, 26, 26);
	padding: 10px;
	background-color: rgba(114, 117, 117, 0.212);
}

.bmr-comment p {
	margin: 10px;
}

.bmr-comment span {
	font-family: "Bubblegum Sans";
	font-size: 20px;
	/* display: block; */
	color: green;
	text-align: center;
}

.comment-show {
	/* opacity: 1; */
	display: block;
}

.note {
	margin: 20px;
	border-left: 5px solid rgb(26, 26, 26);
	padding: 10px;
	background-color: rgba(114, 117, 117, 0.212);
}

.bmr-value span:nth-child(2), .bmr-status span:nth-child(2) {
	color: rgb(5, 114, 5);
	font-size: 25px;
}

select {
	height: 30px;
	margin: 10px;
}

@media only screen and (max-width: 500px) {
	select {
		width: 200px;
	}
	header {
		height: 150px;
	}
	.wrapper {
		margin-top: 180px;
	}
}

.bmrvsbmi {
	padding: 10px;
}