header {
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
}

.confirm-details {
    position: fixed;
    bottom: 0;
    height: 30px;
    padding-top: 8px;
    text-align: center;
    box-shadow: 0 0 5px 1px;
    background-image: linear-gradient(to right, #43e97b 0%, #38f9d7 140%);
}

.details__photo {
    height: 150px;
    width: 110px;
    margin: 20px auto 0 auto;
}

.details__photo-container {
    height: 100px;
    width: 100px;
    border-radius: 50px;
    border: 1px solid black;
    overflow: hidden;
}

.details__photo-container img {
    margin: 10px;
    height: 80px;
    width: 80px;
}

.details__add-photo {
    height: 35px;
    width: 35px;
    position: relative;
    left: 70px;
    top: -30px;
}

.details__form {
    display: flex;
    flex-direction: column;
}

.details__form__add-players {
    width: 250px;
    height: 40px;
    margin: 0 auto 40px auto;
}

.details__form > input {
    height: 40px;
    margin: 0 auto 40px auto;
    border: none;
    border-radius: 10px;
    box-sizing: border-box;
    padding: 10px;
    background-color: #d6d6d6;
}

.details__form__modal {
    display: none;
    position: fixed;
    z-index: 10;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0, 0, 0, 0.4);
}

.details__form__modal__players-list {
    background-color: #fefefe;
    margin: 15% auto;
    padding: 20px;
    border: 1px solid #888;
    width: 70%;
    height: 70%;
}

.details__form__modal__players-list__player {
    margin-bottom: 10px;
}

.details__form__modal__players-list__player > input {
    margin-right: 10px;
}

.close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}

.return-icon {
    margin-left: 5px;
}

.return-icon:hover {
    cursor: pointer;
}

.options-icon {
    margin-right: 5px;
}

.options-icon:hover {
    cursor: pointer;
}
