* {
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Lato', sans-serif;
    color: rgb(56, 56, 56);
    background-image: linear-gradient(120deg, #fdfbfb 0%, #ebedee 100%);
}

@media only screen and (min-width: 300px) {
    .col-sm-12 {
        width: 100%;
    }

    .col-sm-8 {
        width: 66.66%;
    }

    .col-sm-6 {
        width: 50%;
    }

    .col-sm-4 {
        width: 33.33%;
    }
}
