header {
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
}

.details__teams {
    display: flex;
    margin-top: 20px;
    flex-wrap: wrap;
    outline: 1px solid hotpink;
    text-align: center;
}

.details__teams__card {
    height: 150px;
    outline: 1px solid blue;
}

.details__stats-title {
    font-size: 16px;
    margin: 20px 0 5px 10px;
}

.details hr {
    margin-left: auto;
    margin-right: auto;
    width: 95%;
}

.track-match {
    position: fixed;
    bottom: 10px;
    height: 30px;
    width: 95%;
    margin-left: 10px;
    padding-top: 5px;
    border-radius: 50px;
    text-align: center;
    box-shadow: 0 0 5px 1px;
    background-image: linear-gradient(120deg, #f6d365 0%, #fda085 100%);
}

.return-icon {
    margin-left: 5px;
}

.return-icon:hover {
    cursor: pointer;
}

.options-icon {
    margin-right: 5px;
}

.options-icon:hover {
    cursor: pointer;
}
