.content__team-card {
    height: 100px;
    border-radius: 10px;
    background-color: #fff6da;
    box-shadow: 0 1px 4px;
    margin: 5px 7px;
    display: flex;
    flex-direction: column;
    transition: all 0.1s linear, height 0.3s ease-out;
}

.content__team-card:active {
    box-shadow: 0 0 1px 1px;
    background-color: #fcecbd;
}

.content__team-card:hover {
    cursor: pointer;
}

.content__team-card__container-1 {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.content__team-card__container-1__photo {
    height: 80px;
    width: 80px;
}

.content__team-card__container-1__name {
    width: 200px;
    font-weight: normal;
}

.content__team-card__container-2 {
    display: none;
    margin: 15px;
    border: 1px solid black;
    border-radius: 5px;
    height: 180px;
    box-sizing: border-box;
    padding: 20px;
    overflow: scroll;
}

.content__team-card__container-2 h4 {
	text-align: center;
}

.expand-team {
    height: 300px;
}
