/* Profile starting Jumbotron starting rules */
.profile-section {
    background-image: url("../assets/images/osman-rana-253127-unsplash.jpg");
    background-position: center;
    background-size: cover;
}

.profile-section__image {
    border-radius: 50%;
    height: 20%;
    width: 20%;
}

.profile-section__image__outer {
    text-align: center;
    padding: 10px;
}

.profile-section__details {
    padding: 10px 20px;
    text-align: center;
}

.profile-section__details__inner__items {
    padding: 10px;
}

.profile-section-menu__items {
    padding: 20px;
    border: 1px solid grey;
    transition: box-shadow 0.5s;
    cursor: pointer;
    display: inline;
}

.profile-section-menu__items:hover {
    box-shadow: 4px 5px #888888;
}

.profile-section__details__inner {
    color: white;
}

.profile-section__heading {
    font-family: Open Sans, sans-serif;
    font-size: 30px;
    color: white;
}

/* Profile starting Jumbotron ending rules */
/* Tabs Rules Starting  */
.tab {
    overflow: hidden;
    border-bottom: 1px solid #ccc;
    background-color: none;
}

.tab button:hover {
    background-color: #ddd;
}

.tab button {
    background-color: inherit;
    font-weight: bold;
    float: left;
    border: none;
    outline: none;
    cursor: pointer;
    padding: 16px 19px;
    font-size: 12px;
    transition: background-color 0.5s ease;
}

/* Tabs Ending */