/* left of form */
.user-registration {
    padding: 20px;
    font-size: 2em;
    color: white;
}

.user-registration-container {
	background-image: url("../assets/images/antony-xia-522579-unsplash.jpg");
    background-size: cover;
    background-position: center; 
}
.user-registration__left-heading {
	margin: 60px 60px;
}
.user-registration__right-heading {
	color: white;
	margin-bottom: 5px;
}
.registration-input:focus {
	color: white;
}

.registration-input {
	color: white;
}

.registration-error-msg {
	color: #E53935;
}
.registration-input::placeholder {
	color: white;
	opacity: 1;
}
.user-registration__right-heading__line {
	color: white;
	width: 100%;
	margin-bottom: 25px;
}
/* Form CSS */
input {
    display: block;
}

.form-section__name {
    display: inline;
}