* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.chat-body {
    /* padding-top: 50px; */
    /* padding-bottom: 70px; */
    background-color: white;
    position: relative;
    display: none;
    min-height: 100%;
    /* overflow: scroll; */
}

.inner-location {
    border: 2px solid black;
    padding: 2%;
    border-radius: 50%;
    width: 30%;
    height: 50px;
    display: inline-block;
}

p {
    text-align: left;
    display: inline-block;
    margin: 10px;
}

header {
    box-sizing: border-box;
    width: 100%;
    padding: 20px;
    position: fixed;
    z-index: 2;
    margin-bottom: 10px;
    text-align: center;
    top: 0;
    left: 0;
    background-color: #00aeff;
}

.header__bottom {
    height: 50px;
}

footer {
    box-sizing: border-box;
    background-color: #00aeff;
    margin-top: 10px;
    padding: 10px;
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
}

.message {
    box-sizing: border-box;
    font-size: 12px;
    margin: 10px;
    padding-left: 10px;
    padding-right: 10px;
    background-color: lightgrey;
    color: black;
    border-radius: 12px;
    display: inline-block;
    position: relative;
}

.right-user {
    padding: 10px 10px;
    text-align: right;
}

.left-user {
    text-align: left;
}

input {
    box-sizing: border-box;
    height: 30px;
    width: 100%;
}

.user-img {
    box-sizing: border-box;
    display: inline-block;
    height: 40px;
    width: 40px;
    border-radius: 50%;
}

.item-img {
    box-sizing: border-box;
    display: inline-block;
    height: 100px;
    width: 100px;
    border-radius: 5%;
}

.send-icon {
    height: 20px;
}

.compare-btn {
    background-color: tomato;
}

.list {
    box-sizing: border-box;
    padding: 20px;
    margin: auto;
    width: 60%;
    overflow: scroll;
    white-space: nowrap;
}

.item {
    display: inline-block;
}

.time {
    color: blueviolet;
    font-size: 10px;
    display: inline-block;
    position: absolute;
    top: 40px;
    left: 10px;
}

.name {
    color: blueviolet;
    font-size: 15px;
    display: block;
   /* position: absolute;
    top: 40px;
    left: 10px;*/
}

/* @media only screen and (min-width: 340px) and (max-width: 519px) {
    input {
        width: 80%;
    }
}

@media only screen and (min-width: 520px) and (max-width: 719px) {
    input {
        width: 85%;
    }
}

@media only screen and (min-width: 720px) and (max-width: 1080px) {
    input {
        width: 92%;
    }
}

@media only screen and (min-width: 1080px) {
    input {
        width: 95%;
    }
} */

.main-location {
    box-sizing: border-box;
    text-align: center;
    padding: 10px;
    margin: auto;
    width: 60%;
}

.chat-header {
    background-color: #00aeff;
    cursor: pointer;
    top: inherit;
    width: 100%;
    z-index: 1;
    position: fixed;
    /* position: fixed; */
}

.chat-footer {
    right: 0;
    bottom: 0;
    position: sticky;
    display: none;
}

.submit-button {
    width: 100%;
    height: 100%;
    background-color: lightgreen;
}

.chat-display {
    display: block;
}