@charset "UTF-8";

.contractor-detail-container {
	background-color: #E0E0E0;
}

.contractor-detail-container__items {
	display: block;
}

.contractor-detail-container__username {
	color: white;
	font-size: 30px;
}

.contractor-detail-container__company-name {
	color: white;
}

.contracter-stats__items__container {
	padding: 20px;
}

.contracter-stats__items {
	color: #455A64;
	font-size: 30px;
	font-weight: bold;
}

.contracter-stats__items--description {
	color: #616161;
}

.contracter-stats-heading {
	padding: 20px;
	font-size: 20px;
}

.chart-section__ongoing {
	height: 10px;
	width: 10px;
	background-color: blue;
	border-radius: 50%;
	display: inline-block;
}

.chart-section__completed {
	height: 10px;
	width: 10px;
	background-color: green;
	border-radius: 50%;
	display: inline-block;
}

.chart-section__delayed {
	height: 10px;
	width: 10px;
	background-color: red;
	border-radius: 50%;
	display: inline-block;
}

.chart-section {
	padding: 40px;
}

.chart-section__heading {
	font-size: 15px;
	margin-bottom: 10px;
}

.chart-section__ongoing-description {
	display: inline-block;
	font-size: 13px;
}

.chart-section__pie__inner-container {
	padding: 30px;
}

.contractor-landing {
	background-image: url("../assets/images/alex-j-reyes-445838-unsplash.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    padding: 80px 20px;
}

.contractor-detail-container__location {
	color: white;
}

.contractor-detail-container__email {
	color: white;
}

.chart-section__response-count__container {
	padding: 20px;
}