.contractor-registration {
	background-image: url("../assets/images/mark-asthoff-19999-unsplash.jpg");
	background-size: cover;
	padding: 30px;
	font-size: 2em;
	color: #2d4739;
	color: white;
	font-family: Roboto, sans-serif;
	font-weight: 100;
}

.contractor-registration__splitter {
	color: white;
	margin-top: 20px;
}

.contractor-registration__left-heading {
	margin: 60px 60px;
}