/* landing-page */
.landing-section {
    /* background-image: url("../assets/images/max-bender-580753-unsplash.jpg"); */
    padding: 40px 0px;
}

.landing-section__left {
    text-align: center;
    padding: 20px;
    color: #424242;
    font-size: 30px;
}

.landing-section__right {
    /* padding: 30px; */
    height: 100%;
    margin: 30px;
}

/* landing-page-ending */
/* about-application */
.about-application {
    width: 100%;
    font-size: 15px;
    color: white;
    padding: 25px;
    text-align: center;
}

.about-application__title {
    font-size: 30px;
    padding: 15px;
}

.about-application__description {
    padding: 10px;
}

.about-application-container {
    padding-top: 40px;
    background-image: url("../assets/images/antony-xia-522579-unsplash.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    padding-bottom: 40px;
}

/* About Application Ending */