* {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.side-nav {
    width: 0;
    height: 100%;
    position: fixed;
    top: 0;
    left: 0;
    overflow-x: hidden;
    padding-top: 60px;
    transition: 0.5s;
    background-color: #2196f3;
}

a {
    text-decoration: none;
}

.side-nav a {
    padding: 5px 40px;
    display: block;
    color: white;
}

.main-body-section {
    height: 100%;
    transition: margin-left 0.5s;
    padding: 0;
    color: white;
}

.open-icon {
    font-size: 40px;
    cursor: pointer;
}

.menu-bar {
    padding: 20px;
    background-color: #2196f3;
    width: 100%;
}

.body-heading {
    padding: 20px;
}

a:hover {
    color: #90caf9;
}

.close-icon {
    font-size: 30px;
}