/* Just Some Global Style */
* {
    font-family: Roboto, sans serif;
}

a {
    text-decoration: none;
}

/* Temp Navigation Section */
.dropdown-container {
    padding-right: 40px;
}

.content-wrapper {
    padding-top: 48px;
}

.Navbar {
    position: fixed;
    width: 100%;
    background-color: #455A64;
    display: flex;
    padding: 15px;
    font-family: sans-serif;
    color: white;
}

.Navbar__Link {
    padding-right: 10px;
}

.nav-bar-brand,
.nav-link {
	color: white;
}

.Navbar__Items {
    display: flex;
}

.Navbar__Items--right {
    margin-left: auto;
}

.Navbar__Link-toggle {
    display: none;
}

@media only screen and (max-width: 768px) {

    .Navbar__Items,
    .Navbar {
        flex-direction: column;
    }

    .Navbar__Link {
        padding-bottom: 10px;
    }

    .Navbar__Items {
        display: none;
        padding-bottom: 10px;
    }

    .Navbar__Items--right {
        margin-left: 0;
    }

    .nav__right-item {
        padding-bottom: 10px;
    }

    .Navbar__ToggleShow {
        display: flex;
    }

    .Navbar__Link-toggle {
        align-self: flex-end;
        display: initial;
        position: absolute;
        cursor: pointer;
    }
}

.dropdown-content {
    margin-top: 0;
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    z-index: 1;
}

.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: left;
}

.dropdown-container__register-link {
    text-decoration: none;
    color: white;
}

.dropdown-container:hover .dropdown-content {
    display: block;
}

.dropdown-container {
    overflow: hidden;
    /* float: right; */
}

/* Navigation Bar Ending */
.form__input {
    border: none;
    outline: none;
    background: none;
    width: 100%;
    margin-top: 15px;
    margin-bottom: 25px;
    padding-bottom: 5px;
    border-bottom: 1px solid rgba(0, 0, 0, 0.4);
    /* transition: 1s border-bottom; */
}

.form-section {
    padding: 80px;
}

.form__input:focus {
    /* border-color: #03a9f4; */
    border-bottom: 2px solid #03a9f4;
}

.registration-input:focus {
	color: white;
}
.registration-input::placeholder {
	color: white;
	opacity: 1;
}

.form__button {
    padding: 10px 25px;
    margin: 10px 0;
    border: none;
    width: 100%;
    border-radius: 12px;
    background: none;
    display: block;
    background: #42A5F5;
    color: white;
    cursor: pointer;
}

.form__button:hover {
    background-color: #1976D2;
}

.fa-facebook {
    color: #3B5998;
}

.footer-icon {
    margin: 10px;
}

.fa-instagram {
    color: brown;
}

.fa-twitter {
    color: #0084FF;
}

/* Footer */
.footer__copyright {
    padding: 20px;
    font-size: 15px;
    text-align: center;
    color: #424242;
}

/* Just Include the wrapper class to contents other than footer to get the footer down at the bottom */
/* Example of this is done at index.html ( do refer it if you have any doubts ) :-) */
/* https://stackoverflow.com/questions/18915550/fix-footer-to-bottom-of-page */
.wrapper {
    height: auto !important;
    min-height: 100%;
}

html,
body {
    height: 100%;
}

/* Footer Section Ending */
/* projects cards Rules Starting */
.card {
    background: #fff;
    border-radius: 10px;
    margin: 1rem;
}

.card-2 {
    box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
}

.user-location-projects__card-section {
    padding: 20px;
}

.box__item {
    padding: 10px;
}

.box__project-duration {
    color: #888888;
}

.box__project-name {
    color: steelblue;
    font-weight: bold;
}

.box-item__location-icon {
    padding: 5px;
    color: steelblue;
}

.box__project-contractor-name {
    color: steelblue;
}

.box__project-location {
    color: #888888;
}

.box__project-status {
    background-color: #BDBDBD;
    border-radius: 12px;
    width: 15%;
    margin: 10px;
    padding-right: 70px;
}

/* project cards ending */


