header {
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
}

.details__photo {
    height: 150px;
    width: 110px;
    margin: 20px auto 0 auto;
}

.details__photo-container {
    height: 100px;
    width: 100px;
    border-radius: 50px;
    border: 1px solid black;
    overflow: hidden;
}

.details__photo-container img {
    margin: 10px;
    height: 80px;
    width: 80px;
}

.details__add-photo {
    height: 35px;
    width: 35px;
    position: relative;
    left: 70px;
    top: -30px;
}

.details__form {
    display: flex;
    flex-direction: column;
}

.details__form__input {
    height: 40px;
    margin: 0 auto 30px auto;
    border: none;
    border-radius: 10px;
    box-sizing: border-box;
    padding: 10px;
    background-color: #d6d6d6;
}

.details__form select {
    width: 250px;
    height: 40px;
    margin: 0 auto 40px auto;
}

.confirm-details {
    position: fixed;
    bottom: 0;
    height: 40px;
    padding-bottom: 8px;
    text-align: center;
    border: none;
    box-shadow: 0 0 5px 1px;
    background-image: linear-gradient(to right, #43e97b 0%, #38f9d7 140%);
}

.return-icon {
    margin-left: 5px;
}

.return-icon:hover {
    cursor: pointer;
}

.options-icon {
    margin-right: 5px;
}

.options-icon:hover {
    cursor: pointer;
}
