.project-detail-container__jumbotron {
    padding: 20px;
}

.project-detail__response-section {
    padding: 20px;
}

.project-detail-container__duration,
.project-detail-container__contractor-name,
.project-detail-container__description {
    padding-bottom: 20px;
}

.project-detail-container__contractor-name {
    color: #42A5F5;
}

.project-detail__response-section__detail__reason {
    font-style: italic;
    font-weight: bold;
    padding: 20px;
}

.project-detail__response-section__detail__heading {
    padding: 20px;
}

/* Comment */
.comment-input-container {
    padding: 20px;
}

.comment-container {
    padding: 20px;
}

.comment-container__user-detail__name {
    font-weight: bold;
    padding-bottom: 5px;
}

.comment-container__user-detail__user-name {
    color: grey;
    padding-bottom: 5px;
}

.comment-container__message {
    border-radius: 12px;
    padding: 20px;
    background-color: #E0E0E0;
    font-size: 15px;
    color: #424242;
}

.comment-input__elements__input {
    width: 70%;
    display: inline;
}


.comment-input__elements__add-comment-btn {
    width: 20%;
    display: inline;
}

.comment-container__user-detail__date {
	color: #03a9f4;
	padding-bottom: 20px;
	font-size: 12px;
}

/* Comment Ending */